.primary {
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Mulish", sans-serif;
  max-width: 600px;
}
.primaryBold {
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Mulish", sans-serif;
  max-width: 600px;
}

.secondary {
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Mulish", sans-serif;
  max-width: 600px;
}

span:hover {
  overflow: visible;
  white-space: unset;
}
